<header>
    <a href="/" class="title"><h1>The Simple Site</h1></a>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact-me">Contact</a></li>
    </ul>
</header>