<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <!-- site header -->
        <%- include('./partials/header.ejs') %>

            <main>
                <img src="404-logo.png" class="logo" alt="contact logo">
                <h2>Error: 404</h2>
                <h3>Page simply not found :(</h3>
            </main>

            <!-- site footer -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>