<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <!-- site header -->
    <%- include('./partials/footer.ejs') %>

    <!-- site footer -->
    <%- include('./partials/header.ejs') %>
</body>
</html>