<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <!-- site header -->
    <%- include('./partials/header.ejs') %>
    
    <main>
        <img src="about-logo.png" class="logo" alt="about logo">
        <h2>Let me tell you about myself.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, corporis! Culpa vel rem nostrum, tempore iure aliquid
            alias doloribus vitae cum reiciendis quasi cumque ad architecto tenetur amet nulla neque quis excepturi praesentium
            exercitationem iusto? Neque dicta placeat autem quidem, deleniti error recusandae quasi incidunt animi! Dolorem,
            omnis exercitationem a incidunt cum asperiores error modi, facere assumenda repellendus animi veritatis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, corporis! Culpa vel rem nostrum, tempore iure aliquid
            alias doloribus vitae cum reiciendis quasi cumque ad architecto tenetur amet nulla neque quis excepturi praesentium
            exercitationem iusto? Neque dicta placeat autem quidem, deleniti error recusandae quasi incidunt animi! Dolorem,
            omnis exercitationem a incidunt cum asperiores error modi, facere assumenda repellendus animi veritatis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, corporis! Culpa vel rem nostrum, tempore iure aliquid
            alias doloribus vitae cum reiciendis quasi cumque ad architecto tenetur amet nulla neque quis excepturi praesentium
            exercitationem iusto? Neque dicta placeat autem quidem, deleniti error recusandae quasi incidunt animi! Dolorem,
            omnis exercitationem a incidunt cum asperiores error modi, facere assumenda repellendus animi veritatis.</p>
    </main>

    <!-- site footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>