<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <!-- site header -->
    <%- include('./partials/header.ejs') %>

    <main>
        <img src="contact-logo.png" style="height: 130px;" class="logo" alt="contact logo">
        <h2>Contact me at:</h2>
        <h3>Github: CoderTofu</h3>
        <h3>Email: abcdefg@email.com</h3>
        <h3>Twitter: abc123aabc</h3>
    </main>

    <!-- site footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>